
.main-head {
    background: $primary;
    color: white;
    position: sticky;
    top: 0px;
    z-index: 3;
}


nav {
    min-height: 10vh;
    padding: 2rem;
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    
    ul {
        
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    }
}


#logo {
    flex: 1 1 40rem;
    font-family: 'Pattaya', sans-serif;
    font-weight: normal;
}

.hero {
    background: linear-gradient(rgba(0,0,0,0.5),transparent) ,url("/img/road7.jpg");
    min-height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;

    @include flex(column, center, center);
    
    h3 {
        padding: 5rem;
    }
}

/* LOCATIONS SECTION*/

#locations {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent), 
    url('/img/new-york-page.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.locations-head {
    width: 90%;
    margin: auto;

    h2 {
        padding: 1rem 0rem;
        color: white;
        font-weight: bold;
        color: $primary;
    }

    h3 {
        padding: 4rem 0rem;
        color: $primary; 
    }
}

/*ANIMATION*/ 

.cloud {
    position: absolute;
    top: 0%;
    right: 0%;
    
}

.moving-cloud-1 {
    animation: cloudAnimation 3s infinite alternate ease-in-out;
}

.moving-cloud-2 {
    top: 10%;
    z-index: -1;
    opacity: 0.5;
    animation: cloudAnimation 3s infinite alternate ease-in-out;
}

@keyframes cloudAnimation {
    from {
        transform: translate(100%, -10%);
    }
    to {
        transform: translate(0%, 0%);
    }
}


/* BENEFITS SECTION */

.deals-head {
    background:#343c44;
    padding: 5rem;
    min-height: 20vh;
    color: white;

    @include flex(column, center, center); 

    h3 {
        padding: 1rem;
    }
}


.cards {
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 80vh;
    align-items: center;
    flex-wrap: wrap;

}

.card {
    
    text-align: center;
    flex: 1 1 25rem;
    min-height: 40vh;
    margin: 2rem 5rem;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.3), 0px 20px 20px rgba(0,0,0,0.3);
    position: relative;
    display: flex;
    align-items: center;    
}

.card1 {
    background: linear-gradient(rgba(0,0,0,0.7),transparent), url("/img/newyork2.jpg");
    background-position: center;
    background-size: cover;
}


.card2 {
    background: linear-gradient(rgba(0,0,0,0.7),transparent), url("/img/italy.jpg");
    background-position: center;
    background-size: cover;
}

.card3 {
    background: linear-gradient(rgba(0,0,0,0.7),transparent), url("/img/france2.jpg");
    background-position: center;
    background-size: cover;
}

.card h4,
.card p {
    padding: 3rem;
}

.tag {
    font-size: 6rem;
    color: rgba(255,255,255,0.9);
    letter-spacing: 0.1rem;
    font-weight: normal;
    margin: auto;
}

.price {
    font-size: 3rem;
    background: yellow;
    position: absolute;
    bottom: 0%;
    right: 0%;
    padding: 0rem 2rem;
}

/* FORM SECTION */

#contact {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0.5),transparent),
    url("/img/contact-mount.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.form-wrapper {
    background: rgba(19,28,39,0.7);
    width: 40%;
    color: white;
    border-radius: 20px;

    label {
        margin: 0rem 3rem;
    }

    button {
        width: 100%;
        padding: 2rem;
        margin-top: 8rem;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    input {
        padding: 1rem 3rem;
    }

}

.form-head {
    text-align: center;
    padding: 4rem;
}

.name-form, .email-form {
    padding: 3rem;
    text-align: center;
}


/* FOOTER SECTION */

footer {
    color: white;
    background: rgba(19,28,39,1);

    h5 {
        flex: 1 1 40rem;
    }

    ul {
        display: flex;
        list-style: none;
        flex: 1 1 40rem;
        justify-content: space-between;
        align-items: center;
    }
}

.footer-wrapper {
    display: flex;
    padding: 2rem;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
    flex-wrap: wrap;
}


/* MEDIA QUERY */

@media screen and (max-width: 932px) {

    html {
        font-size: 45%;
    }

    nav {
        text-align: center;
    }

    #logo {
        padding: 2rem;
    }
    .cloud {
        height: 40rem;
        pointer-events: none;
    }
    .moving-cloud-1 {
        z-index: -1;
    }
    .moving-cloud-2 {
        z-index: -2;
    }
    .locations-head h3 {
        background: rgba(19,28,39,0.8);
        color: white;
    }
    .form-wrapper {
        width: 100%;
    }

    footer {
        text-align: center;
    }
    footer h5 {
        padding-bottom: 3rem;
    }

}
