* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  width: 90%;
  margin: auto;
}

h1 {
  font-size: 3.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2.3rem;
}

h2 {
  font-size: 5rem;
  /* letter-spacing: 0.2rem; */
}

h3 {
  font-size: 3.3rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.3rem;
}

a {
  color: black;
  text-decoration: none;
}

button {
  padding: 2rem 6rem;
  background: #4c6e97;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

button:hover {
  background: #27394e;
}

.main-head {
  background: white;
  color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 3;
}

nav {
  min-height: 10vh;
  padding: 4rem 0rem 3rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 10rem;
  flex: 1 1 10rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}

nav ul a {
  letter-spacing: 0.2rem;
}

#logo {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 10rem;
  flex: 1 1 10rem;
  font-weight: normal;
}

span {
  border: 1px solid black;
  padding: 1rem 5rem;
  letter-spacing: 0.4rem;
}

/* LOCATIONS SECTION*/
#locations {
  min-height: 100vh;
  background-image: url("../img/new-york-page.png"),
    -webkit-gradient(linear, left top, left bottom, from(rgba(197, 216, 227, 0.9)), to(transparent));
  background-image: url("../img/new-york-page.png"),
    linear-gradient(rgba(197, 216, 227, 0.9), transparent);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.locations-head {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-left: 15rem;
}

.locations-head h1 {
  color: white;
  font-weight: normal;
  font-size: 7rem;
  line-height: 13rem;
  color: black;
  letter-spacing: 0.8rem;
}

.locations-head button {
  background: #74989f;
  width: 54%;
  padding: 3rem;
  border-radius: 2rem;
}

.locations-head button:hover {
  border: 2px solid white;
}

.locations-head button a {
  color: white;
  font-weight: bold;
  letter-spacing: 0.4rem;
  font-size: 2.6rem;
}

/*ANIMATION*/
.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
}

.moving-cloud-1 {
  -webkit-animation: cloudAnimation 3s infinite alternate ease-in-out;
  animation: cloudAnimation 3s infinite alternate ease-in-out;
}

.moving-cloud-2 {
  top: 10%;
  z-index: -1;
  opacity: 0.7;
  -webkit-animation: cloudAnimation 3s infinite alternate ease-in-out;
  animation: cloudAnimation 3s infinite alternate ease-in-out;
}

@-webkit-keyframes cloudAnimation {
  from {
    -webkit-transform: translate(100%, -20%);
    transform: translate(100%, -20%);
  }
  to {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}

@keyframes cloudAnimation {
  from {
    -webkit-transform: translate(100%, -20%);
    transform: translate(100%, -20%);
  }
  to {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}

#about {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

.about-text {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-text p {
  line-height: 5.5rem;
  font-size: 2.5rem;
  text-align: justify;
}

.map {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.map-text {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  background: #f9f9f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.map-text h2 {
  padding: 2rem;
  color: black;
  font-weight: normal;
  letter-spacing: 0.2rem;
  margin: 2rem;
}

.map-text p {
  margin: 2rem;
  padding: 2rem;
  color: #312a2a;
  text-align: justify;
}

.map-image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  background-image: url("../img/map.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#benefits {
  min-height: 80vh;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

.icon img {
  border: 4px solid #b7d7c7;
  padding: 1rem;
  margin: 1rem;
  border-radius: 50%;
}

.icon h3 {
  margin: 3rem;
}

.cards {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card h2 {
  text-align: center;
  background: rgba(215, 215, 215, 0.7);
  padding: 5rem;
  letter-spacing: 0.7rem;
  font-weight: normal;
  font-size: 6.8rem;
}

.card1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background-image: url("../img/italy.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background-image: url("../img/france2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  background-image: url("../img/newyork2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* FORM SECTION */
#contact {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/contact-mountain.png"),
    -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(transparent));
  background-image: url("../img/contact-mountain.png"),
    linear-gradient(rgba(0, 0, 0, 0.3), transparent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-wrapper {
  width: 50%;
}

.form-head h2 {
  margin-bottom: 5rem;
  text-align: center;
  letter-spacing: 0.9rem;
  font-size: 6rem;
}

.name-form,
.email-form,
.button {
  margin: 3rem 0rem;
  text-align: center;
}

input {
  width: 75%;
  padding: 2rem 1rem;
}

.button {
  text-align: center;
}

.button button {
  background: black;
  width: 75%;
}

/* FOOTER SECTION */
footer {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 10vh;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* MEDIA QUERY */
@media screen and (max-width: 1607px) {
  html {
    font-size: 55%;
  }
  body {
    width: 90%;
  }
  #about {
    width: 95%;
  }
  .icons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .icon img {
    width: 40%;
  }
}

@media screen and (max-width: 970px) {
  html {
    font-size: 45%;
  }
  body {
    width: 100%;
  }
  main {
    border: none;
  }
  nav {
    text-align: center;
    width: 98%;
  }
  #logo {
    text-align: start;
  }
  .locations-head {
    width: 70%;
  }
  .cloud {
    height: 50rem;
    pointer-events: none;
  }
  .moving-cloud-1 {
    z-index: 1;
  }
  .moving-cloud-2 {
    z-index: -2;
  }
  .locations-head h3 {
    background: rgba(19, 28, 39, 0.8);
    color: white;
  }
}

@media screen and (max-width: 689px) {
  html {
    font-size: 40%;
  }
  .locations-head {
    width: 70%;
    margin-left: 8rem;
  }
  #about {
    min-height: 60vh;
    padding: 2rem;
  }
  #about p {
    line-height: 3.9rem;
    font-family: sans-serif;
  }
  .map {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 590px) {
  html {
    font-size: 34%;
  }
  #about {
    padding: 2rem;
  }
  .icon img {
    width: 30%;
  }
  .cards {
    min-height: 90vh;
  }
  .card h2 {
    width: 100%;
  }
}

@media screen and (max-width: 502px) {
  html {
    font-size: 28%;
  }
  #about {
    padding: 2rem;
  }
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .card {
    padding: 12rem 5rem;
  }
}

@media screen and (max-width: 360px) {
  nav {
    width: 100%;
    padding: 2rem 0rem;
  }
  #logo {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 60rem;
    flex: 1 1 60rem;
    text-align: center;
    padding: 2rem;
  }
  nav ul {
    margin: 3rem 1rem;
    padding: 2rem 1rem 0rem;
    text-align: center;
  }
  .card {
    padding: 17rem 7rem;
  }
}
/*# sourceMappingURL=styles.css.map */
